@import '_variables.scss';
@import '_mixins.scss';
@import '_typography.scss';
@import '_buttons.scss';
@import '_common.scss';

@import 'templates/_navigation.scss';
@import 'templates/main.scss';
// fix

// fix fluent form
#fluentform_1 {
  label {
    font-size: .875em !important;
    margin-bottom: .5rem !important;
    text-transform: uppercase !important;

  }

  input, textarea {
    @extend h3;
    @extend .form-control;
    margin-bottom: .5rem !important;
    width: 100% !important;
  }

}